<h4 class="text-center">About US</h4>


<div>
    <div class="card mt-2 mb-2">
        <h5 class="card-header text-center">Jai Sai Chand</h5>
        <div class="card-body">
            <div class="card-text">
                <p>Mail: t.jaisaichand4@gmail.com</p>
                <p>LinkedIn: See my profile <a href="https://www.linkedin.com/in/jai-sai-chand-405aa41b2">here</a></p>
                <p>Github: Checkout my github profile <a href="https://github.com/jaisaichand">here</a> </p>
            </div>
        </div>
    </div>

    <div class="card mt-2 mb-2">
        <h5 class="card-header text-center">K Naga Prudhvi</h5>
        <div class="card-body">
            <div class="card-text">
                <p>Mail: kolla0453@gmail.com</p>
                <p>LinkedIn: See my profile <a href="https://www.linkedin.com/in/kolla-nagaprudhvi-aa2a9a145/">here</a>
                </p>
                <p>Github: Checkout my github profile <a href="https://github.com/KNP0453">here</a> </p>
            </div>
        </div>
    </div>
</div>

<!-- <div class="card mt-2 mb-2">
    <h5 class="card-header text-center">SR Nagar Branch</h5>
    <div class="card-body">
        <div class="card-text">
            <p>Fake street, Near Umesh chandra statue</p>
            <p>phno: 777333311110000</p>
            <p>pincode: 00000</p>
        </div>
    </div>
</div>


<div class="card">
    <h5 class="card-header text-center">Ibrahimpatnam Branch</h5>
    <div class="card-body">
        <div class="card-text">
            <p>Fake street, Near Ibrahimpatnam ring</p>
            <p>phno: 777333311110000</p>
            <p>pincode: 00000</p>
        </div>
    </div>
</div>


<div class="card mt-2 mb-2">
    <h5 class="card-header text-center">Vaddeswaram Branch</h5>
    <div class="card-body">
        <div class="card-text">
            <p>Fake street, Near Temple, Vaddeswaram</p>
            <p>phno: 777333311110000</p>
            <p>pincode: 00000</p>
        </div>
    </div>
</div> -->